DATABASE_URL=
PG_HOST=
PG_PORT=5432
PG_DBNAME=javajournal
PG_USER=javajournal
PG_PASSWORD=
PG_SSLMODE=verify-full
PG_SSLROOTCERT=
SECRET_KEY=
SETUP_TOKEN=
APP_HOST=127.0.0.1
APP_PORT=7080
SESSION_COOKIE_SECURE=false
